$fontFamily: 'Montserrat', sans-serif;
$orange: rgba(232, 67, 21, 1);
$grey: rgba(177, 177, 177, 1);
$borderColor: rgba(238, 238, 238, 1);
$primaryText: rgba(54, 56, 57, 1);
$secondaryText: rgba(136, 136, 136, 1);
$backgroundColor: rgba(245, 244, 245, 1);
$disabledBackgroundColor: rgba(228, 236, 239, 1);
$positiveColor: rgba(102, 204, 153, 1);
$negativeColor: rgba(210, 108, 103, 1);
$warningColor: rgba(255, 204, 90, 1);

// DevExtreme variables
$texteditor-color: $primaryText;
$texteditor-border-color: $borderColor;
$texteditor-hover-border-color: $borderColor;
$textbox-search-icon-color: $orange;
$dropdowneditor-icon-active-color: $orange;
$calendar-header-color: $primaryText;
$calendar-cell-other-color: rgba(207, 189, 189, 1);
$calendar-cell-selected-bg: rgba(242, 141, 113, 1);
$switch-handle-off-bg: $primaryText;
$switch-bg: $primaryText;
$tagbox-tag-color: $primaryText;
$tagbox-tag-bg: rgba(224, 224, 224, 1);
$base-hover-bg: rgba(255, 255, 255, 0.4);
$base-focus-color: $primaryText;
$base-focus-bg: rgba(255, 255, 255, 0.4);
$base-border-radius: 0px;
$badge-bg: $orange;
$datagrid-menu-icon-color: $orange;
$datagrid-columnchooser-item-color: $primaryText;
$datagrid-columnchooser-font-weight: 700;
$datagrid-group-row-color: $primaryText;
$datagrid-summary-color: $primaryText;
$datagrid-search-bg: $orange;
$datagrid-search-color: rgba(255, 255, 255, 1);
$pivotgrid-area-color: $primaryText;
$tooltip-bg: $backgroundColor;
$menu-color: $primaryText;
$menu-item-selected-bg: $backgroundColor;
$navbar-tab-bg: rgba(255, 255, 255, 1);
$navbar-tab-selected-bg: $backgroundColor;
$tabs-hovered-tab-bg-color: $backgroundColor;
$tabs-tab-color: $primaryText;
$form-field-item-color: $primaryText;
$tabs-tab-bg: rgba(255, 255, 255, 0);
$list-item-active-bg: rgba(242, 141, 113, 1);
$toast-info-bg: rgba(255, 255, 255, 1);
$tooltip-color: $primaryText;
$toast-color: $primaryText;
$toast-warning-bg: rgba(255, 255, 255, 1);
$toast-error-bg: rgba(255, 255, 255, 1);
$toast-success-bg: rgba(255, 255, 255, 1);
$datagrid-selection-bg: rgba(246, 179, 160, 1);
